<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Add new Game</title>
<meta th:replace="~{commons :: head}"></meta>
<link
	href="/forPages/fileinput/fileinput.min.css"
	media="all" rel="stylesheet" type="text/css" />
<script
	src="/forPages/fileinput/fileinput.min.js"
	type="text/javascript"></script>
<script
	src="/forPages/fileinput/theme.min.js"
	type="text/javascript"></script>
</head>
<body>
	
	<h2 th:if="${notification}" th:text="${notification}" class="text-center"></h2>
	
	<div th:replace="~{commons :: nav}"></div>
	
	<section id="newGame" class="my-5">
		<div class="newGame container">
		<div class="row justify-content-center">
			<div id="content" class="col-sm-9">
		      <h1>Game info</h1>
		      <form id="form" action="/games/addGame" method="post" enctype="multipart/form-data" class="form-horizontal">
		        <fieldset>
		          <legend>Information about the game</legend>
					 <div class="form-group required">
						<label class="col-sm-2 control-label">Title game</label>
						<div class="col-sm-10">
							<input required type="text" name="title" placeholder="Everlasting Summer" class="form-control" >
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Year of publication</label>
						<div class="col-sm-10">
							<input required type="number" name="year" placeholder="2020" class="form-control" min=1970 max=2025>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Author</label>
						<div class="col-sm-10">
							<input required type="text" name="author" placeholder="Yauheni" class="form-control">
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Select genres</label>
						<div class="col-sm-10">
							<input class="genres" th:each="genre:${genres}" type="checkbox" name="genre" th:value="${genre.name}" th:text="${genre.name}"/> Action<br />
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Game duration</label>
						<div class="col-sm-10">
							<input required type="number" min=5 name="duration" placeholder="20 minutes" class="form-control" >
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Language</label>
						<div class="col-sm-10">
							<select name="language" size="1"  class="form-control" >
								<option value="first">English</option>
								<option value="second">Russian</option>
								<option value="third">Japan</option>
								<option value="fourth">China</option>
							</select>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Description</label>
						<div class="col-sm-10">
							<textarea required name="description" placeholder="This is Story about..." class="form-control" rows="5" cols="150" ></textarea>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Avatar</label>
						<div class="col-sm-10">							
							<div class="form-group">
								<div class="file-loading">
									<input  id="file-1" type="file" class="file"	 required 
										name="ava">
								</div>
							</div>
						</div>
					</div>					          
					<div class="form-group required">
						<label class="col-sm-2 control-label">Screens (6 photos)</label>
						<div class="col-sm-10">							
							<div class="form-group">
								<div class="file-loading">
									<input  id="file-6" type="file" class="file" 
										multiple name="screen"  required > 
								</div>
							</div>
						</div>
					</div>	
				</fieldset>
		        <div class="buttons clearfix">
		          <div class="pull-left"><a href="/" class="btn btn-secondary">Back</a></div>
		          <div class="pull-right">
		            <input type="submit" value="Continue" class="btn btn-secondary">
		          </div>
		        </div>
		      </form>
		      </div>
	      </div>
		</div>
	</section>
	
	
	<div th:replace="~{commons :: footer}"></div>
</body>
</html>