<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Добавить сценарий</title>
<style type="text/css">
form {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: auto;
}

.gameName, .gameLabel, .gameCommands {
	display: flex;
	flex-direction: column;
}
.gameCommands textarea{
height: 300px;
}
</style>
</head>
<body>

<!-- <div th:fragment="nav"> -->
<!--       &copy; 2011 The Good Thymes Virtual Grocery -->
<!-- </div> -->

<nav th:fragment="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
	<a class="navbar-brand" href="/">NovelasGame</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav" th:if="${#request.userPrincipal != null}">
			<a class="nav-item nav-link" href="#">Profile</a>
			<a class="nav-item nav-link" href="#">Add new Game</a>
			<a class="nav-item nav-link" href="#">Add scenario</a>
			<a class="nav-item nav-link" href="#">Add resources</a>
			<a class="nav-item nav-link" href="/logout">LogOut</a> 
		</div>
		<div class="navbar-nav" th:if="${#request.userPrincipal == null}">
			<a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#loginModal" >LogIn</a>
			<a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#regModal">SingIn</a>
			<div th:insert="~{commons :: loginModal}"></div>
			<div th:insert="~{commons :: regModal}"></div>
		</div>
	</div>
</nav>

<div th:fragment="loginModal" class="modal fade" id="loginModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-transparent">
			<div class="form-top modal-body">
				<div class="form-top-left">
					<h3>Login to our site</h3>
					<p>Enter username and password to log on:</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-lock"></i>
				</div>
			</div>
			<div class="form-bottom">
				<form role="form" action="/perform_login" method="post" class="login-form">
					<div class="form-group">
						<label class="sr-only" for="form-username">Username</label>
						<input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-password">Password</label>
						<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
					</div>
					<button type="submit" class="btn bg-primary text-white">Sign in!</button>
				</form>
			</div>
		</div>
	</div>
</div>



<div th:fragment="regModal" class="modal fade" id="regModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-transparent">
			<div class="form-top modal-body">
				<div class="form-top-left">
					<h3>Sign up now</h3>
					<p>Fill in the form below to get instant access:</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-pencil"></i>
				</div>
			</div>
			<div class="form-bottom">
				<form role="form" action="/registration" method="post" class="registration-form">
					<div class="form-group">
						<label class="sr-only" for="form-first-name">User name</label>
						<input type="text" name="username" placeholder="User name..." class="form-username form-control" id="form-username">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-email">Email</label>
						<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-last-name">Last name</label>
						<input type="password" name="password" placeholder="password" class="form-password form-control" id="form-password">
					</div>
					<button type="submit" class="btn bg-primary text-white">Sign me up!</button>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>