<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
<meta th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/js/jquery-3.4.1.min.js"></script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</meta>
</head>
<body>



<header th:fragment="nav">
	<nav class="navbar navbar-expand-sm navbar-dark bg-transparent border-bottom border-secondary" >
		<a class="navbar-brand" href="/">NovelasGame</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"	data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav" th:if="${#request.userPrincipal != null}">
				<a class="nav-item nav-link" href="#">Profile</a>
				<a class="nav-item nav-link" href="/games">Add new Game</a>
				<a class="nav-item nav-link" href="/scenario">Scenarios</a>
				<a class="nav-item nav-link" href="/upload">Resources</a>
				<a class="nav-item nav-link" href="/logout">LogOut</a> 
			</div>
			<div class="navbar-nav" th:if="${#request.userPrincipal == null}">
				<a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#loginModal" >LogIn</a>
				<a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#regModal">SingIn</a>
				<div th:insert="~{commons :: loginModal}"></div>
				<div th:insert="~{commons :: regModal}"></div>
			</div>
		</div>
	</nav>
</header>
<div th:fragment="loginModal" class="modal fade" id="loginModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-transparent">
			<div class="form-top modal-body">
				<div class="form-top-left">
					<h3>Login to our site</h3>
					<p>Enter username and password to log on:</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-lock"></i>
				</div>
			</div>
			<div class="form-bottom">
				<form role="form" action="/perform_login" method="post" class="login-form">
					<div class="form-group">
						<label class="sr-only" for="form-username">Username</label>
						<input type="text" name="username" placeholder="Username..." class="form-username form-control" id="form-username">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-password">Password</label>
						<input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
					</div>
					<button type="submit" class="btn bg-primary text-white">Sign in!</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div th:fragment="regModal" class="modal fade" id="regModal" tabindex="-1" role="dialog" >
	<div class="modal-dialog" role="document">
		<div class="modal-content bg-transparent">
			<div class="form-top modal-body">
				<div class="form-top-left">
					<h3>Sign up now</h3>
					<p>Fill in the form below to get instant access:</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-pencil"></i>
				</div>
			</div>
			<div class="form-bottom">
				<form role="form" action="/registration" method="post" class="registration-form">
					<div class="form-group">
						<label class="sr-only" for="form-first-name">User name</label>
						<input type="text" name="username" placeholder="User name..." class="form-username form-control" id="form-username">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-email">Email</label>
						<input type="text" name="email" placeholder="Email..." class="form-email form-control" id="form-email">
					</div>
					<div class="form-group">
						<label class="sr-only" for="form-last-name">Last name</label>
						<input type="password" name="password" placeholder="password" class="form-password form-control" id="form-password">
					</div>
					<button type="submit" class="btn bg-primary text-white">Sign me up!</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- scenario - each game button -->
<div th:fragment="eachGameButton" class="d-flex my-1" th:value="${game.id}" th:each="game:${games}" th:if="${#request.userPrincipal.name==game.user.username or #request.isUserInRole('ADMIN')}">
	<button class="btn btn-primary" data-toggle="modal" th:data-target="'.game'+${game.id}" th:text="${game.title}">Large modal</button>

	<div th:class="'modal fade game'+${game.id}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
    		<div class="modal-content bg-dark forTable" >
      			<h3>Select label</h3>
				<div th:replace="~{commons :: eachlabelButton}"></div>
			</div>
    	</div>
	</div>
</div>


<!-- scenario - each label button -->
<div th:fragment="eachlabelButton" th:each="label:${game.labels}">		
	<button class="btn btn-primary" data-toggle="modal" th:data-target="'.game'+${game.id}+'label'+${label.id}" th:text="${label.name}">label name</button>

	<div th:class="'modal fade game'+${game.id}+'label'+${label.id}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content bg-dark p-3" >
				<form  method="post">
			    	<h3 th:text="'Label: '+${label.name}"></h3>
			    	<h3>Select commands for deleting</h3>
			    	<input name="labelId" type="number" th:value="${label.id}" hidden>
					<input name="gameId" type="number" th:value="${game.id}" hidden>
			    	<table class="w-100">
						<tr th:each="command:${label.commands}">
							<td>
								<div th:text="${command.value}"></div>
							</td>
							<td>
								<input type="text" name="newValue" value="" th:data-ids="${command.id}">
							</td>
							<td class="wCheckbox">
								<input type="checkbox" name="commandId" th:value="${command.id}">
							</td>
						</tr>
					</table>
					<input type="submit" formaction="/scenario/deleteCommand" value="Delete selected" class="btn btn-secondary">
					<input type="submit" formaction="/scenario/update" value="Update selected" class="btn btn-secondary">
					<input type="submit" formaction="/scenario/deleteLabel" value="Delete LABEL" class="btn btn-secondary">
				</form>
		  	</div>
		</div>
	</div>
</div>



<div th:fragment="comments">
	<div id="review">
		<table class="table table-striped table-bordered">
			<tbody
				th:each="i : ${#numbers.sequence(comments.size() - 1, 0, -1)}"
				th:with="comment=${comments[i]}">
				<tr>
					<td style="width: 50%;" class="commentsName">
						<strong th:text="${comment.user.username}">Matthew Wade</strong>
						<input hidden th:value="${comment.id}" class="commentId">
					</td>
					<td class="text-right commenstData" th:text="${comment.date}">09/03/2017</td>
					
				</tr>
				<tr>
					<td colspan="2" class="comment-info">
						<button th:class="'commentRemove commentRemove'+${comment.id}"
							 onclick="commentRemove(this['value'])"
							 th:if="${#request.userPrincipal.name==comment.user.username or #request.isUserInRole('ADMIN')}"
							 th:value="${comment.id}" 
							 type="button">	X</button>
						<p class="commentText" th:text="${comment.text}">random text.</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="text-right"></div>
	</div>
</div>

<footer th:fragment="footer" >
	<div class="index-gamePrev d-flex justify-content-center">Have a nice Game</div>
	<div class="index-powered"><p id="index-powered">Powered By Yauhenii© 2019-2020	</p></div>
</footer>

</body>
</html>