<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Description</title>
<meta th:replace="~{commons :: head}"></meta>
<link rel="stylesheet" href="/forPages/carousel/owl.carousel.min.css">
<link rel="stylesheet"
	href="/forPages/carousel/owl.theme.default.min.css">
<script src="forPages/carousel/owl.carousel.min.js"></script>

</head>
<body>
	<div th:replace="~{commons :: nav}"></div>

	<section id="descriptionGame">
		<div class="container">
			<div class="row">
				<div class="col col-md-7">
					<div class="description-images mb-4">
						<img class="description-image" th:src="${game.avatar}">
					</div>
					<div class="description-spinner" id="carousel">
						<div class="owl-carousel owl-theme owl-loaded">
							<div class="owl-stage-outer">
								<div class="owl-stage">
									<img class="owl-item px-1" th:src="${resourceItem}"
										th:if="${resourceItem.type == 'screenImage'}"
										th:each="resourceItem:${game.resourceItems}">
								</div>
							</div>
						</div>
					</div>
					<div class="description-btns justify-content-around d-flex mb-5">
						<a class="btn btn-secondary w-25" th:href="'/runGame?gameId='+${game.id}">Play</a> 
						<a class="btn btn-secondary w-25" th:href="'/load?gameId='+${game.id}">Load and Play</a> 
						<a class="btn btn-secondary w-25"
							th:if="${#request.userPrincipal.name==game.user.username or #request.isUserInRole('ROLE_ADMIN')}"
							th:href="'/games/deleteGame?gameId='+${game.id}">Delete</a>
					</div>
				</div>

				<div class="col col-md-5">
					<h3 class="description-gameTitle" th:text="${game.title}">Aliquam
						Quaerat</h3>
					<ul class="description-gameInfo">
						<li><span class="description-desc">Year: </span>
						<div th:text="${game.year}">2020</div></li>
						<li><span class="description-desc">Author: </span>
						<div th:text="${game.author}">Yauheni</div></li>
						<li><span class="description-desc">Genres: </span>
						<div th:text="${game.genres}">Action, Drama</div></li>
						<li><span class="description-desc">Duration: </span>
						<div th:text="${game.duration}">7 hours</div></li>
						<li><span class="description-desc">Language: </span>
						<div th:text="${game.language}">English</div></li>
					</ul>
					<div class="description-text">
						<span>Description:</span>
						<p th:text="${game.description}">Where does it come from?</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="description-comments" class="my-5">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div id="comment-form">
						<form class="comment-form" action="/comments" method="post">
							<input hidden="true" type="number" th:value="${game.id}"
								name="gameId">

							<h3>Write a review</h3>
							<div class="form-group required">
								<div class="col-sm-12">
									<label class="control-label">Your Name</label> <input
										type="text" name="username" class="form-control userName"
										th:value="${#request.userPrincipal.name}" disabled="disabled">
								</div>
							</div>
							<div class="form-group required">
								<div class="col-sm-12">
									<label class="control-label">Your Review</label>
									<textarea name="text" rows="5" class="form-control"></textarea>
									<div class="help-block">
										<span class="text-danger">Note:</span> HTML is not translated!
									</div>
								</div>
							</div>
							<div class="buttons clearfix">
								<div class="pull-right">
									<button type="button" id="button-review"
										data-loading-text="Loading..." class="btn btn-primary" onclick="commentAdd()">Add</button>
								</div>
							</div>
							<div th:replace="~{commons :: comments}"></div>							
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="~{commons :: footer}"></div>

	<script type="text/javascript">
		$('#carousel').each(function() {
			var owl = $(this).find('.owl-carousel').owlCarousel();
			//changing main image
			$(this).find('.owl-item').on('click', function() {
				$(".description-image").attr("src", $(this).attr("src"));
			});

		});
		
		function commentRemove(commentId){
			$.post("/comments/delete",{commentId:commentId})
			  .done(function( data ) {
// 			    alert(data);
			    if(data==true){
			    	$(".commentRemove"+commentId).parent().parent().parent().remove();
			    }
			  });
		}
		function commentAdd(){
			$.post("/comments",{
				gameId:[[${game.id}]],
				text:$("textarea").val()
				})
			  .done(function( data ) {
				  if(data=true){					  
// 					 var today = new Date;
// 					 var temp = '<tbody><tr><td style="width: 50%;" class="commentsName"><strong>'
// 						 +$(".userName").val()+'</strong></td><td class="text-right commenstData">'
// 						 +today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()
// 						 +'</td></tr><tr><td colspan="2" class="comment-info"><p class="commentText">'
// 						 +$("textarea").val()+'</p></td></tr></tbody>';
// 					  $("table").prepend(temp);
					  $("textarea").val("");
			  	}
			  });
		}
		
		var data_;
		function commentGet(){
			var lastId=$(".commentId").val();
			if(lastId=="")lastId=-1;
			$.get("/comments/get",{
				gameId:[[${game.id}]],
				commentId:lastId
				})
			  .done(function( data ) {
				data=JSON.parse(data);
				  data.forEach(function(item) {
					  var today = new Date(item["date"]);
	 					 var temp = '<tbody><tr><td style="width: 50%;" class="commentsName"><strong>'
	 						 +"Someone"+'</strong>'
	 						 +'<input hidden value="'+item["id"]+'" class="commentId">'
	 						 +'</td><td class="text-right commenstData">'
	 						 +today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()
	 						 +'</td></tr><tr><td colspan="2" class="comment-info"><p class="commentText">'
	 						 +item["text"]+'</p></td></tr></tbody>';
	 					  $("table").prepend(temp);
					});
				  
			  });
		}
		
		setInterval(() => commentGet(), 2000);
	</script>
</body>
</html>