<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Description</title>
	<meta th:replace="~{commons :: head}"></meta>
	<link rel="stylesheet" href="/forPages/carousel/owl.carousel.min.css">
	<link rel="stylesheet" href="/forPages/carousel/owl.theme.default.min.css">
	<script src="forPages/carousel/owl.carousel.min.js"></script>
	
</head>
<body>
<div th:replace="~{commons :: nav}"></div>


<section id="descriptionGame">
	<div class="container">
		<div class="row">
			<div class="col col-md-7">
				<div class="description-images mb-4">
					<img class="description-image" th:src="${game.avatar}" >
				</div>
				<div class="description-spinner" id="carousel">
					<div class="owl-carousel owl-theme owl-loaded">
					    <div class="owl-stage-outer">
					        <div class="owl-stage" >
 					        	<img class="owl-item px-1"  th:src="${resourceItem}" th:if="${resourceItem.type == 'screenImage'}" th:each="resourceItem:${game.resourceItems}"> 
					        </div>
					    </div>
					</div>
				</div>
				<div class="description-btns justify-content-around d-flex mb-5">
					<a class="btn btn-secondary w-25">Play</a>
					<a class="btn btn-secondary w-25">Load and Play</a>
				</div>
			</div>
			
			<div class="col col-md-5">
				<h3 class="description-gameTitle" th:text="${game.title}">Aliquam Quaerat</h3>
				<ul class="description-gameInfo">
					<li><span class="description-desc">Year:     </span><div th:text="${game.year}">2020</div></li>
					<li><span class="description-desc">Author:   </span><div th:text="${game.author}">Yauheni</div></li>
					<li><span class="description-desc">Genres:   </span><div th:text="${game.genres}">Action, Drama</div></li>
					<li><span class="description-desc">Duration: </span><div th:text="${game.duration}">7 hours</div></li>
					<li><span class="description-desc">Language: </span><div th:text="${game.language}">English</div></li>
				</ul>
				<div class="description-text">
					<span>Description:</span>
					<p th:text="${game.description}">
						Where does it come from? Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="description-comments" class="my-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div id="comment-form">
					<form class="comment-form">
							<div id="review">
								<table class="table table-striped table-bordered">
									<tbody>
										<tr>
											<td style="width: 50%;" class="commentsName"><strong>Matthew Wade</strong></td>
											<td class="text-right commenstData" >09/03/2017</td>
										</tr>
										<tr>
											<td colspan="2" class="comment-info">
												<p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
												<span class="fa fa-stack">
													<i class="fa fa-star fa-stack-2x"></i>
													<i class="fa fa-star-o fa-stack-2x"></i>
												</span>              
												<span class="fa fa-stack">
													<i class="fa fa-star fa-stack-2x"></i>
													<i class="fa fa-star-o fa-stack-2x"></i>
												</span>              
												<span class="fa fa-stack">
													<i class="fa fa-star fa-stack-2x"></i>
													<i class="fa fa-star-o fa-stack-2x"></i>
												</span>              
												<span class="fa fa-stack">
													<i class="fa fa-star fa-stack-2x"></i>
													<i class="fa fa-star-o fa-stack-2x"></i>
												</span>              
												<span class="fa fa-stack">
													<i class="fa fa-star fa-stack-2x"></i>
													<i class="fa fa-star-o fa-stack-2x"></i>
												</span>   
											</td>
										</tr>
									</tbody>
								</table>
								<div class="text-right"></div>
							</div>
							
							
						<h3>Write a review</h3>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="control-label" >Your Name</label>
								<input type="text" name="name" class="form-control">
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="control-label" >Your Review</label>
								<textarea name="text" rows="5" class="form-control"></textarea>
								<div class="help-block"><span class="text-danger">Note:</span> HTML is not translated!</div>
							</div>
						</div>
						<div class="form-group required">
							<div class="col-sm-12">
								<label class="control-label">Rating</label>&nbsp;&nbsp;&nbsp; Bad&nbsp;
								<input type="radio" name="rating" value="1">&nbsp;
								<input type="radio" name="rating" value="2">&nbsp;
								<input type="radio" name="rating" value="3">&nbsp;
								<input type="radio" name="rating" value="4">&nbsp;
								<input type="radio" name="rating" value="5">&nbsp;Good
							</div>
						</div>
						<div class="buttons clearfix">
							<div class="pull-right">
								<button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<div th:replace="~{commons :: footer}"></div>

<script type="text/javascript">
	
$('#carousel').each(function () {
	  var owl = $(this).find('.owl-carousel').owlCarousel();
		//changing main image
	  $(this).find('.owl-item').on('click', function () {
		    $(".description-image").attr("src",$(this).attr("src"));
		  });
	  
	});
	
</script>
</body>
</html>