<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Resources</title>
<meta th:replace="~{commons :: head}"></meta>
<link
	href="/forPages/fileinput/fileinput.min.css"
	media="all" rel="stylesheet" type="text/css" />
<script
	src="/forPages/fileinput/fileinput.min.js"
	type="text/javascript"></script>
<script
	src="/forPages/fileinput/theme.min.js"
	type="text/javascript"></script>
</head>
<body>

	<div th:replace="~{commons :: nav}"></div>
	
	<h2 th:if="${notification}" th:text="${notification}" class="text-center"></h2>
	
	<section id="resources" class="my-5">
		<div class="resources container">
		<div class="row justify-content-center">
			<div id="content" class="col-sm-9">
		      <form id="form" action="/upload" method="post" enctype="multipart/form-data" class="form-horizontal">
		        <fieldset>
		          <legend>What you'll upload?</legend>
					<div class="form-group required">
						<label class="col-sm-12 control-label">Game name</label>
						<div class="col-sm-10 resourceInput">
							<select id="res_gameSelect" type="text" name="gameId" size="1"  class="form-control" required> 
								<option th:value="${game.id}" th:each="game:${games}" 
								th:if="${#request.userPrincipal.name==game.user.username or #request.isUserInRole('ROLE_ADMIN')}"
								th:text="${game.title}">GameName</option>
							</select>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-12 control-label">Select resources type</label>
						<div class="col-sm-10 resourceInput">
							<select id="res_typeResSelect" name="type" size="1"  class="form-control">
								<option value="backgroundImages">Background Images</option>
								<option value="specialImages">Special Images</option>
								<option value="screenImage">ScreenImage</option>
								<option value="characterImages">Characters</option>
								<option value="musicSound">Music Sound</option>
								<option value="sfxSound">Sfx Sound</option>
								<option value="ambienceSound">Ambience Sound</option>
								<option value="charNames">Character Names</option>
							</select>
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-12 control-label">Character's name</label>
						<div class="col-sm-10 resourceInput">
							<input required type="text" name="charName" placeholder="Michael" class="form-control" id="res_charName">
						</div>
					</div>
					<div class="form-group required charNames d-none">
						<label class="col-sm-12 control-label">Character names</label>
						<div class="col-sm-10 resourceInput">
							<textarea rows="5" name="names" placeholder="sl=Slaya" class="form-control"></textarea>
						</div>
					</div>	
					<div class="form-group required">
						<label class="col-sm-2 control-label">Resources</label>
						<div class="col-sm-10 resourceInput">							
							<div class="form-group">
								<div class="file-loading">
									<input  type="file" class="file" multiple data-overwrite-initial="false" 
									name="files"   > 
								</div>
							</div>
						</div>
					</div>	
				</fieldset>
		        <div class="buttons clearfix d-flex justify-content-center">
		            <input type="submit" value="Upload" class="btn btn-secondary">
		        </div>
		      </form>
		      </div>
	      </div>
		</div>
	</section>
	


	<section id="resourcesEdit" class="my-5">
			<div class="resourcesEdit container">
				<div class="row justify-content-center">
					<div id="content" class="col-sm-9">
						<div class="buttons d-flex justify-content-center mb-5">
				            <input type="submit" value="Look selected resources" class="btn btn-secondary getRes">
			            </div>
			            <div id="resourcesFind">
			            	<form method="post">
				            	<div class="form-group required">
									<input  class="resourcesGameId" type="text" name="gameId" value="none" hidden>
									<input class="resourcesType" type="text" name="resourcesType" value="none" hidden>
							    	<table class="w-100"></table>
								</div>
								<div class="resBtn d-flex justify-content-between">
									<input type="submit" formaction="/upload/deleteRes" value="Delete selected" class="btn btn-secondary">
									<input type="submit" formaction="/upload/updateRes" value="Update selected" class="btn btn-secondary" onclick="updateResources()">
									<input type="submit" formaction="/upload/deleteAllResType" value="Delete ALL OF TYPE" class="btn btn-secondary">
								</div>
							</form>
			            </div>
					</div>
				</div>
			</div>
	</section>
			
			
	<div th:replace="~{commons :: footer}"></div>
	
	
<script type="text/javascript">
	$('#res_charName').prop('disabled', true);
	$('#res_typeResSelect').change(function(){
		if ($('#res_typeResSelect').val()!="characterImages")
			$('#res_charName').prop('disabled', true);
		else 
			$('#res_charName').prop('disabled', false);
		
		if ($('#res_typeResSelect').val()!="charNames"){
			$('.charNames').addClass('d-none');
			 $('#form').attr('action', '/upload');
		}
		else{
			$('.charNames').removeClass('d-none');
			$('#form').attr('action', '/uploadNames');
		} 
	});
	
	var data, gameId, type;
	$('.getRes').click(function(){
		gameId=$('#res_gameSelect').val();
		type=$('#res_typeResSelect').val();
		 $.get("/upload/getRes", {gameId:gameId, type:type}, function(_data) {
			data=_data;
			console.log(data);
			show();
		});
	});

	function updateResources(){
		var commands=$(".resNewName");
		var checkboxes=$(".resChechBox");
		$.each(commands, function(index, value){
			if(value["value"].length>0)
				$(checkboxes[index]).prop('checked', true);
			else
				$(checkboxes[index]).prop('checked', false);
	    });
	}
	function show(){
		var values="";
		
		data.forEach( function(v, i) {			
			var charname=	type=="characterImages" ? v["charName"]+'/' : '';		
			values+='<tr class="rowImage my-3"><td>'
			+'<img class="resImage mx-1" src="/upload/files/'+gameId+'/'+type+'/'+charname +v['fileName']+'">'
			+'</td><td><input class="resOldName mx-1" disabled type="text" name="oldName" value="'+v['fileName']+'"></td>'+
'				<td><input class="resNewName mx-1" type="text" name="newName" value=""></td>'+
'				<td class="wCheckbox mx-1"><input type="checkbox" class="resChechBox" name="resId" value="'+v['id']+'"></td>'+
'			</tr>';
			} );
		
		
		$("#resourcesFind table").html(values);
		$(".resourcesGameId").attr("value",gameId);
		$(".resourcesType").attr("value",type);
		
		if(type=="musicSound" || type=="sfxSound" || type=="ambienceSound"){
			console.log("change");
			$('.resImage').each(function() {
				$(this).parent().html($(this).parent().html().replace('<img','<audio type="audio/ogg" controls'));
// 				$(this).parent().html().replace('<img','<audio type="audio/ogg" controls');
			});
		}
		
		hide();
	}
	
	function hide(){
		var btns = $(".resBtn");
		if($("#resourcesFind table").html().length>0){
			btns.css("visibility", "visible");
			
		} else{
			btns.css("visibility", "hidden");
		}
	}
	hide();
	
	
	
</script>
</body>
</html>