<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<title>Play</title>
<meta th:replace="~{commons :: head}"></meta>
<script src="/js/withEffect.js"></script>
<script src="/js/cmdAudio.js"></script>
<script src="/js/cmdDialog.js"></script>
<script src="/js/cmdJump.js"></script>
<script src="/js/cmdMenu.js"></script>
<script src="/js/cmdScene.js"></script>
<script src="/js/cmdSprite.js"></script>
<script src="/js/cmdVariable.js"></script>
<script src="/js/cmdWindow.js"></script>
<script src="/js/main.js"></script>
</head>

<body class="playBody position-absolute w-100 h-100" onload="next()">
	<section id="playBody">
		<div class="game">
			<div class="playBGs">
				<div class="background1"></div>
				<div class="background2"></div>
			</div>
			<div class="sprites">
				<!--             <img class="sprite"  src=""> -->
			</div>
			<div class="window hide">
				<div class="playText">
					<div class="textAuthor"></div>
					<div class="textContent"></div>
				</div>
				<div class="playBtns">
					<button class="next mx-2" onclick="next()">History</button>
					<button class="next mx-2" onclick="next()">Next</button>
					<button class="next mx-2" onclick="next()">Save</button>
					<button class="next mx-2" onclick="next()">Load</button>
					<button class="next mx-2" onclick="next()">Main page</button>
				</div>
			</div>
			<div class="menu">
				<p class="menuTitle"></p>
				<ul class="menuChoose">
					<li>ќстатьс€ в общаге</li>
					<li>ѕойти в универ</li>
				</ul>
			</div>
			<audio class="audio ambienceSound" id="myAudio ambienceSound" src="" controls="controls"></audio>
			<audio class="audio musicSound" id="myAudio musicSound" src="" controls="controls"></audio>
			<audio class="audio sfxSound" id="myAudio sfxSound" src="" controls="controls"></audio>
		</div>	
	</section>
	<button class="next mx-2" onclick="next()">Next</button>
	

	<script>
		// получили json-строку с сервера и преобразовали в нормальный json 
		var data = "[[${scenario}]]";
		data = data.replace(/(&quot\;)/g, "\"");
		var arr = JSON.parse(data);
		var gameId="[[${gameId}]]";
		sleep(1000);
	</script>
</body>
</html>