<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Scenarios</title>
<meta th:replace="~{commons :: head}"></meta>
</head>
<body>
	<div th:replace="~{commons :: nav}"></div>

	<section id="newScenario" class="my-5">
		<div class="newScenario container">
		<div class="row justify-content-center">
			<div id="content" class="col-sm-9">
		      <form id="form" action="/scenario" method="post" class="form-horizontal">
		        <fieldset>
		          <legend>Information about the game</legend>
					<div class="form-group required">
						<label class="col-sm-2 control-label">Game</label>
						<div class="col-sm-10 scenarioInput">
							<select name="gameId" size="1"  class="form-control" required>
								<option th:value="${game.id}" th:each="game:${games}" th:text="${game.title}" th:if="${#request.userPrincipal.name==game.user.username or #request.isUserInRole('ADMIN')}">GameName</option>
							</select>
						</div>
					</div>
					 <div class="form-group required">
						<label class="col-sm-2 control-label">New label name</label>
						<div class="col-sm-10 scenarioInput">
							<input required type="text" name="gameLabel" placeholder="default" value="default" class="form-control" >
						</div>
					</div>			
					<div class="form-group required">
						<label class="col-sm-2 control-label">Commands</label>
						<div class="col-sm-10 scenarioInput">
							<textarea required name="gameCommands" placeholder="jump default" class="form-control" rows="15" cols="150" ></textarea>
						</div>
					</div>					
				</fieldset>
		        <div class="buttons clearfix">
		          <div class="justify-content-center d-flex">
		            <input type="submit" value="Send" class="btn btn-primary">
		          </div>
		        </div>
		      </form>
		      </div>
	      </div>
		</div>
	</section>
	
	
	<div th:replace="~{commons :: footer}"></div>
</body>
</html>