body {
	margin: 0;
	padding: 0;
}

.game {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.background1 {
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	/* 	display: none; */
}

.background2 {
	background: black;
	width: 100%;
	height: 100%;
	position: absolute;
	/* 	background-image: url("http://localhost:8080/scene/get?type=scene&folder=cg&name=d1_grasshopper"); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background: black;
}

.sprites {
	height: 100%;
}

.sprite {
	height: inherit;
	position: absolute;
	height: 200%;
	top: -20%;
}

/* position */
.left {
	left: 0;
}

.cleft {
	left: 25%;
	transform: translate(-20%, 0%);
}

.center {
	left: 0;
	right: 0;
	margin: auto;
}

.cright {
	right: 25%;
	transform: translate(20%, 0%);
}

.right {
	right: 0;
}

/* location */
.far {
	transform: scale(0.7);
	position: fixed;
	/*     top: 0%; */
}

.close {
	transform: scale(1.5);
	position: fixed;
	/*     top: 40%; */
}

.window {
	width: 100%;
	min-height: 20%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.textAuthor {
	color: rgb(0, 234, 50);
	margin: 5px 0 10px 20px;
}

.textContent {
	color: #DEC88C;
	margin: 0 10px;
}

.menu {
	color: white;
	position: absolute;
	top: 50%;
	width: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.menuTitle {
	
}

.menuChoose li {
	color: white;
	border: 1px solid black;
	background: #b69999;
	font-size: 30px;
	padding: 25px 10px;
	text-align: center;
	margin: 25px;
	list-style-type: none;
}

.menuChoose li:hover {
	color: black;
	background: #f0cbcb;
}

.audio {
	display: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* ADD GAMES */
.gamesItem {
	width: 600px;
	border: 1px solid;
	margin: 0 auto;
	display: flex;
}

.infoLeft, .itemImage {
	width: 400px;
}




/* _____________________INDEX */
.container_slider_css {
	width: 100%;
	height: 600px;
	overflow: hidden;
	position: relative
}

.photo_slider_css {
	position: absolute;
	animation: round 40s infinite;
	opacity: 0;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

@keyframes round { 
	25%{
		opacity: 1
	}
	
	40%{
	opacity:0
	}
}
img:nth-child(1) {
	animation-delay: 30s;
}

img:nth-child(2) {
	animation-delay: 20s;
}

img:nth-child(3) {
	animation-delay: 10s;
}

img:nth-child(4) {
	animation-delay: 0;
}
/* @media(min-width:0px) and (max-width:320px) { */
/* .container_slider_css{width:80%;height:190px} */
/* } */
/* @media(min-width:321px) and (max-width:480px) { */
/* .container_slider_css{width:80%;height:190px} */
/* } */
body {
	color: #c7c7c7;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	background: url('/forPages/bg.jpg') repeat scroll #282828;
	position: relative;
	letter-spacing: 0.6px;
}

.index-gamePrev {
	border: medium none;
	display: inline-block;
	width: auto;
	margin: 40px auto 30px;
	padding: 0 0 15px;
	color: white;
	position: relative;
	text-align: center;
	font: 400 70px/100px "Sacramento", cursive;
	text-transform: capitalize !important;
	letter-spacing: 0.5px;
	background: url('/forPages/title-image.png') no-repeat scroll center bottom;
}

.games-item {
	width: 40%;
	height: auto;
	display: block;
	margin: 10px 10px;
}

.game-detail {
	bottom: 0;
	color: #fff;
	width: 100%;
	margin: 0;
	width: 100%;
	text-align: center;
	letter-spacing: .5px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

img.game-image {
	width: 100%;
}

.game-title {
	font: 600 19px/26px 'Work Sans', sans-serif;
	display: block;
	padding-bottom: 5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#index-powered {
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    letter-spacing: 0.8px;
    color: #b2b2b2;
    font-weight: 300;
}
.index-powered {
    clear: both;
    padding: 59px 0;
    border-top: 1px solid #4a4a4a;
}
.navbar a{
	
	padding: 42px 0 42px;
    font: 500 14px/26px 'Work Sans',sans-serif;
    color: #ffffff;
    display: block;
    letter-spacing: .6px;
    text-transform: uppercase;
    position: relative;
    width: auto;
    margin: 0 20px;
}




/* -------------------modal reg and login */


.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 0.8; color: #fff; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #fff;
	line-height: 100px;
	text-align: right;
	opacity: 0.3;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}




/* -------------------------DescripnionPage */
#descriptionGame{
	margin-top: 50px;
}
.description-image{
	width: 100%;
}
